<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Anonymous Articles</h1>

  <%  usersWithSecrets.forEach(function(user){ %>
    <h1><%=user.title%></h1>
      <p>
        <%=user.content.substring(0,100) + "..."%>
      <a href="/posts/<%=user._id%>">Read More</a></p>

      <form action="/delete" method="post">
        <button type="submit" class="btn btn-danger" name="delete" value=<%=user._id%>>Delete</button>

      </form>
      <%    }) %>


    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit Article</a>
  </div>
</div>

<%- include('partials/footer') %>
